<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cz.hackathon.programy"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="FestivalyApplication">
        <activity android:name="ListActionActivity"
                  android:label="@string/app_name" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

  		<activity android:name="StageActivity" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="FestTabActivity" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="ActionActivity" android:configChanges="keyboardHidden|orientation">
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ListActionActivity" android:configChanges="keyboardHidden|orientation">
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
  		<activity android:name="ImportActivity" android:configChanges="keyboardHidden|orientation">
  			<intent-filter>
            	<action android:name="android.intent.action.VIEW" />
      			<category android:name="android.intent.category.DEFAULT" />
      			<category android:name="android.intent.category.BROWSABLE" />
      			<data android:host="programy.arcao.com" android:scheme="http" android:pathPrefix="/akce/"  />
    		</intent-filter>
  		</activity>
    </application>
</manifest>